// 布局
.ant-layout-content.ant-pro-layout-content .ant-pro-page-container {
  min-height: calc(100vh - 124px);
}

.ant-pro-global-footer {
  margin: 24px;
}

.ant-pro-layout-has-footer {
  margin-block-start: 0 !important;
}

.ant-breadcrumb li:last-child {
  a {
    color: inherit !important;
  }
}
